.tittle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.card{
    background-color: rgb(255, 255, 255);
    margin-left: 5em;
    margin-right: 5em;
}
.card-header{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: rgb(10, 10, 10);
}
.card-body{
    color: rgb(8, 8, 8);
    text-align: justify;
    margin-right: 1em; 
}
.heading {
    font-size: 25px;
    margin: 0 0 0 1em;
}
@media (max-width: 500px) {
    .heading{
        font-size: 15px;
        margin: 0 0 0 2em;
    }
}
.main{
    margin-top: 2em;
}