.container-fluid{
    margin: 0px!important;
    position: relative;
    overflow-x: none!important;
}
.container-fluid video {
  vertical-align: middle;
  width: 100%!important;
}
.overlay {
    background: rgba(13, 71, 110, 0.7);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%!important;
}
h1 {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
  }
  p{
      margin-top: 6em;
      margin-left: 4em;
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2em;
  }
  .icon-danger{
      text-align: center!important;
      color: rgb(255, 79, 79)!important;
  }
  @media(max-width:500px){
      .container-fluid{
          display: none!important;
      }
  }