    <div class="container-fluid">
        <div class="row">
                <div class="row row">
                        <div class="col-md-8">
                                <div class="card card-header">
                                        <span>Why CsquareEducation <i class="fa fa-question fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="card card-body">
                                        <video onloadstart="this.volume=0.2" width="100% "  height="300px;!important" controls autoplay>
                                                <!-- <source src="PATH_TO_MP4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
                                                <source src="assets/video/CsquareEducation Video Promo [360p].mp4" type="video/webm" />
                                                </video>  
                                </div>
                        </div>
                        <div class="col-md-4">
                                        <div class="card card-header">
                                                        <span style="margin-left: -2em;">Contact Us <i class="fa fa-vcard-o fa-5x" aria-hidden="true"></i></span>
                                        </div>
                                        <div class="card card-body">
                                                <p class="awesome">
                                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8041627767, &nbsp;7899342386, &nbsp;9036198865 </p>
                                                <small style="text-align: center;font-size: 12px;">(call timing: Monday to Saturady, 8AM to 9PM)</small>
                                                <p class="awesome">
                                                <i class="fa fa-whatsapp"></i> &nbsp;8105118078</p>
                                                <small style="text-align: center;font-size: 12px;">Or</small>
                                                <p class="awesome" style="font-size: 16px!important;">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Email Us On: <br>
                                                csquarebangalore@gmail.com									
                                                </p>
                                                <!-- <p>
                                                With Us You Get :-<br>
                                                <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Best Quality Home Tutor/Private Tutor.<br> 
                                                <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Full Monitoring of Home Tuition/Private Tuition.
                                                <br> <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Best Services and Support For Home Tuition/Private Tuition.
                                                <br> <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Flexibility To Select Home Tutor/Tuition Teacher.  
                                                </p>    -->
                                        </div>
                                </div>
                </div>                          
        </div>
    </div>