.form-right{
    float: right;
}
.form-group{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.form-control{
    background-color: rgb(250, 249, 249)!important;
    border: 1px solid rgb(24, 23, 23);
}
.row{
    margin: 2em;
    margin-top: 2em; 
}
.col-md-4{
    padding-left: 2em!important;
}
.col-md-8{
    padding-left: 2em!important;
}
p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    color: #f8591f!important;
}
h3{
    margin-top: 4em;
    text-align: justify;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.fa-5x{
    font-size: 100px;
}
.card-header{
    border: 1px solid #ccc;
    color: #f8591f!important;
    text-align: center;
    font-size: 45px;
}
.card-body{
    background-color: rgb(250, 249, 249)!important;
    opacity: 0.7;
    border: 1px solid #ccc;
}
.awesome{
     font-size: 2em;
     font-family: 'Montserrat', sans-serif;
     text-align:center;
     color:#313131;
     font-weight:700;
    -webkit-animation: example 10s infinite; /* Safari 4.0 - 8.0 */
    animation: example 10s infinite;
}
@-webkit-keyframes example {
    0%{color:#000000}
    10%{color:#f71e0f}
    20%{color:#f84701}
    30%{color:#9fa103}
    40%{color:rgb(59, 168, 8)}
    50%{color:#0c968a}
    60%{color:rgb(0, 81, 255)}
    70%{color:rgb(94, 9, 252)}
    80%{color:#ff00d4}
    90%{color:#d400ff}
    100%{color:rgb(255, 8, 8)}
}

/* Standard syntax */
@keyframes example {
    0%{color:#000000}
    10%{color:#f71e0f}
    20%{color:#f84701}
    30%{color:#9fa103}
    40%{color:rgb(59, 168, 8)}
    50%{color:#0c968a}
    60%{color:rgb(0, 81, 255)}
    70%{color:rgb(94, 9, 252)}
    80%{color:#ff00d4}
    90%{color:#d400ff}
    100%{color:rgb(255, 8, 8)}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
}
.loc{
    margin-top: -5em;
}
label{
    color: rgb(0, 0, 0);
}
option{
    color: rgb(0, 0, 0)!important;
}
@media(max-width: 500px){
    .row{
        width: 100%!important;
        margin: 0px;
        margin-top: 4em;
    }
    .fa-5x{
        font-size: 30px;
    }
    .card-header{
        font-size: 16px;
        margin: 0px;
    }
    .card-body{
        margin: 0px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .loc{
        margin-top: 0!important;
    }
    .mobile{
        display: none;
    }
}