<!-- <div class="page-header" style="background-image:linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
     ), url('assets/img/1.gif')">
            <div class="container"> -->
              <app-loggedInNavbar [sessionId]="sessionId"></app-loggedInNavbar>
              <div class="row">
                      <div class="card card-body">
                          <div class="card-body" style="text-align:left!important;">
                             
                              <div class="card card-header" style="font-size: 3em!important;text-align:center;">
                                              User Contact Through Website
                                  </div>
                              </div>
                             <div class="card-body bg-transparent">
                                  <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)"></ng2-smart-table>
                             </div>                    
                          </div>
                  </div>
               <!-- </div>
              </div> -->