<home-tuition-common-template [area]="area"
[keyword] = "keyword"
[t1]="t1" [t1Url]="t1Url" [t1Exp]="t1Exp" [t1Desp]="t1Desp"
[t2]="t2" [t2Url]="t2Url" [t2Exp]="t2Exp" [t2Desp]="t2Desp"
[t3]="t3" [t3Url]="t3Url" [t3Exp]="t3Exp" [t3Desp]="t3Desp"
[t4]="t4" [t4Url]="t4Url" [t4Exp]="t4Exp" [t4Desp]="t4Desp"
[t5]="t5" [t5Url]="t5Url" [t5Exp]="t5Exp" [t5Desp]="t5Desp"
[t6]="t6" [t6Url]="t6Url" [t6Exp]="t6Exp" [t6Desp]="t6Desp"
[t7]="t7" [t7Url]="t7Url" [t7Exp]="t7Exp" [t7Desp]="t7Desp"
[t8]="t8" [t8Url]="t8Url" [t8Exp]="t8Exp" [t8Desp]="t8Desp"
[t9]="t9" [t9Url]="t9Url" [t9Exp]="t9Exp" [t9Desp]="t9Desp"
[t10]="t10" [t10Url]="t10Url" [t10Exp]="t10Exp" [t10Desp]="t10Desp" 
></home-tuition-common-template>