<app-loggedInNavbar [sessionId]="sessionId"></app-loggedInNavbar>
<div class="row">
<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle><b>General Information</b></ng-template>
      <ng-template ngbTabContent>
 
        </ng-template>
      </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Teaching Information</b></ng-template>
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Document Verification</b></ng-template>
      <ng-template ngbTabContent>
  
      </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>