img{
    width:100px;
    height:100px;
}
.d-block{
    border-radius:50%;
    width:100px!important;
    height:100px!important;
}
h2{
    text-align: center;
    color: #f8591f!important;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}
h5{
    text-align: center;
    color: #f8591f!important;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.row{
    padding: 0px!important;
}
.data-result{
    background-color: #f8591f!important;
}
.slider{
    margin-left: 12em;
    background-color: #fff;
}
.card-header{
    border: 1px solid #ccc;
    color: #f8591f!important;
    text-align: center;
    font-size: 45px;
}
.card-body{
    background-color: rgb(250, 249, 249)!important;
    border: 1px solid #ccc;
}
.col-md-2{
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #f8591f!important;  
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: rgb(23, 155, 243)!important;  
}
.fa-5x{
    font-size: 100px;
}
.service-img{
    height: 400px;
    width: 650px;
}
p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
h4{
    font-size: 14px;
    text-align: justify;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 52, 52)!important;
}
.main{
    margin-top: 4em;
    margin-bottom: 4em;
}
.review-pic{
    margin-top: 4em;
}
.checked {
    color: orange;
}
.service-dis{
    margin-left: 6em;
    margin-top: 1em;
}
.data-view{
    text-align: center;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
@media(max-width: 500px){
    h2{
        margin: 0px;
        padding: 0px;
        font-size: 12px!important;
    }
    .fa-5x{
        font-size: 20px;
    }
    .mobile{
        display: none;
    }
    .slider{
        margin-left: 0px;
    }
    .service-img{
        margin-left: 3em;
        width:200px!important;
        height:200px!important;
    }
    h4{
        font-size: 12px;
        font-weight: none;
    }
    h3{
        font-size: 14px;
        font-weight: none;
    }
    .main{
        margin: 0px;
    }
    .card-header{
        font-size: 18px;
        margin: 0px;
    }
    .card-body{
        margin: 0px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .service-dis{
        margin: 0px;
        margin-top: 1em;
    }
}