<div class="container2" style="margin-top:-1em; background-color:rgb(31, 65, 75);">
<div class="row" style="margin-top:3em;">
        <div class="col-md-12">  
          <div class="card" style="background-color: transparent;">
              <div class="card card-body" style="background-color: #fff;opacity:.9;">
                    <!-- <img src="assets/img/service.jpg" style="float:center!important; margin-top: -6em;margin-bottom: -6em; margin-left:35%; width: 300px;height: 200px;"> -->
                    <h2 style="text-align: center;color: rgb(245, 90, 51); font-size: 4em;"><u>Our Sevices</u></h2>
              </div>
              <div class="card-body bg-transparent" style="background-color: #fff;opacity:.9;">                      
          <div class="row row">
                <div class="col-md-6" style="margin-top: 2em;text-align: center;">
                    <div class="card card-body" style="margin-top:-2em!important; background-color: #fff;opacity:.9;">
                        <h5 style="color: rgb(245, 90, 51); font-size: 2em; text-align: center;"><br><b>Need A Home Tuition?</b></h5><br>
                        <img class="img img-thumbnail" src="assets/img/Student1.jpg" alt="home tuition bangalore, private tuition" style="width:  600px!important; height:300px!important;margin-left:3em!important;"/>
                    </div>
                </div>
                         <div class="col-md-6" style="margin-top: 6em;">	
                                <div class="card" style="background-color: #fff;opacity:.9;font-size:.95em!important; margin-right:1em!important; margin-top:3em!important;padding: 1em 1em 1em 1em!important;">							 
                             <p>Are you looking for best home tuition for your children? So you are at a
                              right place to choose a perfect home tuition for your kid. Selecting a best
                              home tutor for your kids is bit tricky task and involves lot and lots of
                              research and time as well. So in this type of situation Csquareeducation will
                              play a major role. In Csquareeducation we will provide every possible
                              support and guidance to parents, students as well as home tutors. This
                              is one of the best as well as unique online portal which will provides wide
                              opportunities to students and parents in order to select their best and
                              required home tutor for their development.<br>						
                            </p>                          
                                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                   <div class="icon icon-danger">
                                      <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                   </div>
                            </a>                        
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body" style="background-color: #fff; opacity:.9;text-align:justify;font-size:1em!important; padding: 1em 1em 1em 1em!important; color:black;">
                                  Csquareeducation is one of
                                  the perfect web portal which provides best as well as professionally
                                  experienced home tutor. In Csquareeducation our tutors are highly skilled
                                  with well experienced in their related qualifications.
                                  
                                  In Csquareeducation all tutor’s performance gets monitored every
                                  week and every month by a well defined professional team. Csquareeducation, 
                                  not only monitors the tutor’s
                                  performance but we will also help students who have registered with us, we
                                  will provide all kinds of possible help for his/her academic growth as well
                                  as social growth.
                              </div>
                            </div>
                             <button type="button" class="btn btn-primary btn-round" (click)="buttonClick('/studentForm')">Need A Tutor</button><br>                             
                            </div>
                            </div>                        
                            <div class="col-md-6" style="text-align: center; margin-top: 2em;"> 
                                <div class="card card-body" style="margin-top:-2em!important;background-color: #fff;opacity:.9;">   
                                <h5 style="color: rgb(245, 90, 51); font-size: 2em; text-align: center;"><br><b>Want To Be A Private Tutor?</b></h5><br>
                                  <img class="img img-thumbnail"  src="assets/img/faculty.jpg" alt="home tuition bangalore, private tuition" style="margin-left:3em!important;width:  600px!important; height:300px!important; float:center!important;"/>
                                </div>
                                </div>
                         <div class="col-md-6" style="margin-top: 8em;">
                                <div class="card" style="background-color: #fff;opacity:.9;margin-left:1em!important;font-size:.95em!important; margin-right:1em!important; padding: 1em 1em 1em 1em!important;">
                               <p>A perfect and best quality of a successful tutor is when he/she is able to
                                  communicate with their students and able to grab their attention towards
                                  studies. The supreme art of a best tutor is to awaken the inbuilt knowledge
                                  of and creative skills from students. In Csquareeducation we believe that our
                                  secret of success and tremendous growth is just because of tremendous
                                  efforts, dedication as well as hard work from our faculties members.
                                  Csquareeducation always provide a best and wide opportunity and a
                                  convenient environment to our tutors.</p>	<br><br>						
                                   <a data-toggle="collapse" href="#collapseExample00" aria-expanded="false" aria-controls="collapseExample00">
                                          <div class="icon icon-danger">
                                                  <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                                  </div>
                                </a>                        
                                <div class="collapse" id="collapseExample00">
                                  <div class="card card-body" style="background-color: #fff;opacity:.9;text-align:justify;font-size:1em!important; padding: 1em 1em 1em 1em!important;">
                                      Only because of a best tutor, students will able to concentrate on their
                                      studies without distracting their mind on other activities. Hence best tutor is
                                      required to achieve any kind of achievements from students. We are
                                      offering both part time as well as full time tutor jobs. We consider our tutors
                                      as our own members and are asset for Csquareeducation.
                                  </div>
                                </div>
                                   <button type="button" class="btn btn-primary btn-round" (click)="buttonClick('/tutorForm')">Be A Tutor</button><br>
                          </div>
                          </div>  
                            <div class="col-md-6" style="margin-top: 2em; text-align: center;">
                                <div class="card card-body" style="margin-top:-2em!important;background-color: #fff;opacity:.9;">
                                    <h5 style="color: rgb(245, 90, 51); font-size: 2em; text-align: center;"><br><b>Need A Online Tuition/Tutor?</b></h5><br>
                                    <img class="img img-thumbnail"  src="assets/img/img123.jpg" alt="home tuition bangalore, private tuition" style="margin-left:3em!important;width:  600px!important; height:300px!important;"/>
                                </div>
                                </div>								
                         <div class="col-md-6" style="margin-top: 8em;">
                                <div class="card" style="background-color: #fff;opacity:.9;font-size:.95em!important; margin-right:1em!important; padding: 1em 1em 1em 1em!important;">
                              <p>As tremendous increase in technology day by day, Internet has brought a wonderful vibrant changes in all sectors, particularly in the academic world. Now-a-days students are opting to do all their education related activities through internet, which includes, solving question papers, doing online projects, attending online classes etc. So technology has made very easy for the students to provide all the education related information within short time.
                                      So it is now possible for every students and learners to learn, know about information and receive instructions, anywhere and at their own convenient timings through e-learning classes.
                                      </p>
                              <a data-toggle="collapse" href="#collapseExample01" aria-expanded="false" aria-controls="collapseExample01">
                                      <div class="icon icon-danger">
                                              <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                              </div>
                            </a>                        
                            <div class="collapse" id="collapseExample01">
                              <div class="card card-body" style="background-color: #fff;opacity:.9;text-align:justify;font-size:1em!important; padding: 1em 1em 1em 1em!important;">
                                   There are lot of benefits with this online classes or e-learning classes. Particularly these sort of classes are used for the students who are working part-time or full-time & busy working professionals, who can’t spend enough time or separate time to attend regular classes or spending extra time to go for a coaching center. For those student’s online tuition or online classes were one of the perfect solution.
                              </div>
                            </div>
                              <button type="button" class="btn btn-primary btn-round" onclick="">Coming Soon</button><br>
                          </div>
                            </div>                            	
                      </div><br><br>
              </div>    
          </div>
      </div>
  </div>    
</div>
    <div class="main">
        <div class="container3" style="margin-top: 0em;"><br>
            <div class="card" style="background-color: rgb(31, 65, 75);opacity:.9;">
                    <div class="card card-body" style="background-color: #fff;opacity:.9;">
                            <!-- <img class="img img-thumbnail"  src="assets/img/whychooseus.jpg" alt="home tuition bangalore, private tuition" style="margin-top:-6em;width:  500px!important;margin-bottom:-2em;margin-left:35%; height:150px!important;"/> -->
                            <h2 style="text-align: center;color: rgb(245, 90, 51); font-size: 4em;"><u>Why Choose Us?</u></h2>
                        </div>
                    <div class="card-body bg-transparent" style="background-color: #fff;opacity:.9;">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card" style="background-color: #fff;opacity:.9;margin-left:1em!important; font-size:.95em!important; margin-right:1em!important; padding: 1em 1em 1em 1em!important;">
                                <p style="margin: 1em 1em 1em 1em;">Csquareeducation Vision is to provide equal educational opportunities for all
                                        our students and to enhance their overall development in their academic as
                                        well as to support their career. Our Mission is to be a leader in the field of
                                        informal education as well as to enrich students career. To become
                                        successful, we always encourage our students to focus on their academics,
                                        in order to enrich their lives by motivating them.
                                        <br><br>
                                        Csquareeducation also focus on supporting schools by strengthening their examination pattern as well as to improve test taking skills of their students. We value learning as a lifelong process to pursuit knowledge and personal growth. In Csquareeducation, we make students to learn and understand the concept rather than just studying the chapters. Because learning is a process in which students will gain knowledge or skill, they can practice, taught, experience and expertise to learn about a subject.
                                </p><h3 style="text-align: left!important; font-size: 1.5em!important; font-weight: bold;">Why Us?</h3><br>
                                <p class="para" style="font-size: 1em!important;"><br>We provide best and experienced tutor.
                                <br>Interactive Learning Sessions at door step.
                                <br>Weekly report analysis for both students and tutors.
                                <br>Previous year question paper at a click away.
                                <br>Online aptitude test starting soon.<br><br>
                                 Visit our Blog for more information. <a href="https://csquareeducation.com/blog/" target="_blank" style="color:rgba(50, 147, 192, 0.69)!important"> <b>....Click Here</b></a>						
                                </p><br><br>
                            </div>
                            </div>
                            <div class="col-md-5">
                                        <div class="card page-carousel">
                                            <ngb-carousel>
                                                <ng-template ngbSlide>
                                                    <img src="assets/img/ab2.jpg" alt="home tuition bangalore, private tuition bangalore">
                                                    
                                                </ng-template>
                                                <ng-template ngbSlide>
                                                    <img src="assets/img/ab4.jpg" alt="home tuition bangalore, private tuition bangalore">
                                                    
                                                </ng-template>
                                                <ng-template ngbSlide>
                                                    <img src="assets/img/ab5.jpg" alt="home tuition bangalore, private tuition bangalore">
                                                    
                                                </ng-template>
                                                <ng-template ngbSlide>
                                                    <img src="assets/img/ab6.jpg" alt="home tuition bangalore, private tuition bangalore">
                                                    
                                                </ng-template>
                                                <ng-template ngbSlide>
                                                    <img src="assets/img/ab7.jpg" alt="home tuition bangalore, private tuition bangalore">
                                                    
                                                </ng-template>
                                            </ngb-carousel>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="card card-body" style="background-color: #fff;opacity:.9;font-size:3em;color:rgb(245, 90, 51);font-weight:bold!important; text-align:center!important;margin-top:0em;">
                        <img class="img img-thumbnail"  src="assets/img/news.jpg" alt="home tuition bangalore, private tuition" style="margin-left:10%;width:  100px!important; height:100px!important;"/>
                       <p style="margin-top:-2em;"> <b><u>CsquareEducation In Media</u></b></p>
                    </div>  
                <div class="card card-body" style="background-color: #fff;opacity:.9;margin-top:0em;text-align: center;">
                    <div class="row">
                        <div class="col-md-2">
                                <img src="assets/img/glassdoor-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br> <a href="https://www.glassdoor.co.in/Reviews/CsquareEducation-Reviews-E1798051.htm" target="_blank">GlassDoor</a>
                            </div>
                        <div class="col-md-2">
                                <img src="assets/img/e27-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br><a href="https://e27.co/startup/csquareeducation" target="_blank">e27</a>
                            </div>
                        <div class="col-md-2">
                                <img src="assets/img/youngbuzz-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br><a href="https://www.youngbuzz.com/tutors/csquare-education-btm-layout-bangalore/courses/jee-advance" target="_blank">YoungBuzz</a>
                            </div>
                        <div class="col-md-2">
                                <img src="assets/img/connect2india-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br><a href="http://connect2india.com/Csquare-Education/3455050" target="_blank">connect2india</a>
                            </div>
                        <div class="col-md-2">
                                <img src="assets/img/datafox-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br><a href="https://datafox.com/csquareeducation" target="_blank">Datafox</a>
                            </div>
                        <div class="col-md-2" style="border-right: none!important;">
                                <img src="assets/img/dragdeal-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block" style="border-radius:50%;width:100px;height:100px;">
                                <br><a href="https://www.dragdeal.com/business/36817/csquare-education/bangalore" target="_blank">DragDeal</a>
                            </div>
                    </div>
                </div>      
    </div>
    </div>
