img{
    width:100px;
    height:100px;
}
.d-block{
    border-radius:50%;
    width:100px!important;
    height:100px!important;
}
h2{
    text-align: center;
    color: rgb(248, 94, 94)!important;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Nobile', sans-serif;
}
.row{
    padding: 0px!important;
}
.card-body{
    margin-left: 2em;
    margin-right: 2em;
    background-color: rgb(250, 249, 249)!important;
    border: 1px solid #ccc;
    font-family: 'Nobile', sans-serif;
}
.card-header{
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #ccc;
    color: rgb(248, 94, 94)!important;
    text-align: center;
    font-size: 45px;
    border-radius: 0px!important;
    font-family: 'Nobile', sans-serif;
}
.col-md-2{
    text-align: center;
    font-size: 24px;
    font-family: 'Nobile', sans-serif;
}
a:hover{
    color: rgb(248, 94, 94)!important;   
}
.fa-5x{
    font-size: 100px;
}
.service-img{
    height: 400px;
    width: 650px;
}
p{
    text-align: justify;
    font-family: 'Nobile', sans-serif;
}
.col-md-6{
    margin-top: 4em;
    margin-left: 2em;
}
h3{
    font-size: 16px;
    text-align: justify;
    font-weight: 800;
    font-family: 'Nobile', sans-serif;
}
h4{
    font-size: 14px;
    text-align: justify;
    font-weight: 800;
    font-family: 'Nobile', sans-serif;
    color: rgb(53, 52, 52)!important;
}
.main{
    margin-left: 10em;
    margin-top: 4em;
    margin-right: -4em;
    margin-bottom: 4em;
}
.review-pic{
    margin-top: 4em;
}
.checked {
    color: orange;
}
@media(max-width: 500px){
    h2{
        margin: 0px;
        padding: 0px;
        font-size: 14px!important;
    }
    .fa-5x{
        font-size: 20px;
    }
    .mobile{
        display: none;
    }
    .card-header{
        margin: 0px;
        margin-left: 2em;
    }
    .service-img{
        margin-left: 3em;
        width:200px!important;
        height:200px!important;
    }
    h4{
        font-size: 14px;
        font-weight: none;
    }
    h3{
        font-size: 14px;
        font-weight: none;
    }
    .main{
        margin: 0px;
        margin-left: 7em;
    }
    .card-body{
        margin: 0px;
        margin-left: 2em;
        padding: 0px;
    }
}